.result-section {
  inline-size: 100%;
  background-image: linear-gradient(var(--Light-slate-blue-background), var(--Light-royal-blue-background));
  text-align: center;
  border-end-end-radius: 2rem;
  border-end-start-radius: 2rem;
  padding-inline: clamp(2.7rem, 2vw + 1.55rem, 5rem);
  padding-block: clamp(1.6rem, 2vw + 0.8rem, 2.4rem);
}

.result-heading {
  color: var(--Light-lavender);
  font-size: clamp(1.1rem, 2vw + 0.55rem, 1.5rem);
  margin-block-end: clamp(1.5rem, 2vw + 0.8rem, 2rem);
}

.result-score {
  background-image: linear-gradient(var(--Violet-blue-circle), var(--Persian-blue-circle));
  border-radius: 50%;
  aspect-ratio: 1 / 1;
  margin-inline: auto;
  inline-size: 9rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-block-end: clamp(1.3rem, 2vw + 0.7rem, 2.2rem);
}

.calculated-score {
  color: var(--White);
  font-weight: 800;
  font-size: clamp(3.4rem, 4vw + 1.7rem , 4.5rem);
  display: block;
}

.final-score {
  color: var(--Light-lavender);
}

.result-section strong {
  color: var(--White);
  font-weight: 700;
  display: block;
  font-size: clamp(1.5rem, 2vw + 0.8rem, 2rem);
  margin-block-end: clamp(0.1rem, 2vw + 0.0050rem, 0.9rem);
}

.result-description {
  color : var(--Light-lavender);
  margin-block-end: clamp(1rem, 2vw + 0.5rem, 1rem);
}
